html {
  font-size: 13px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  padding: 2px;
  font-size: 5em;
  margin: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-flow: column;
}
ul {
  margin: 5px;
  list-style: none;
  padding: 0px;
}
li {
  margin: 2px 0 2px;
}
a {
  color: #8421dd;
}

article {
  margin-top: 2rem;
  max-width: 500px;
}
